.listing-section {
    display: flex;
    /* Use flexbox */
    flex-wrap: wrap;
    /* Allow cards to wrap to the next line */
    /* Distribute space evenly */
    margin: 20px;
    /* Optional: Add margin around the listing section */
}

/* Individual card styles */
.listing-card {
    margin: 10px;
    overflow: hidden;
    max-width: 300px;
}

.listing-card img {
    width: 80%;
    /* Full width of the card */
    height: 160px;
    border-radius: 8px;
    /* Fixed height for images */
    object-fit: cover;
    /* Maintain aspect ratio */
    border-bottom: 1px solid #ddd;
    /* Bottom border for the image */
}

.listing-info {
    position: relative;
    padding: 0px 12px;
    top: -2%;
    width: 70%;
    margin: auto;
    text-align: left;
    /* Padding inside the card */
}

.listing-info h3 {
    font-size: 18px;
    /* Title font size */
    margin-bottom: 6px;
    /* Bottom margin for the title */
    font-weight: 600;
    /* Bold font weight */
}

.listing-info p {
    font-size: 14px;
    /* Text font size */
    color: #666;
    /* Text color */
    margin: 4px 0;
    /* Margin for text paragraphs */
}

.listing-info .price {
    font-size: 16px;
    /* Price font size */
    font-weight: 600;
    /* Bold font weight for price */
    margin-top: 6px;
    /* Margin on top of price */
    color: #333;
    /* Price text color */
}