/* .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #ff787d;
} */
.search-bar-container {
    width: 100%;
    /* Full width for the border */
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    /* Apply border only at the bottom */
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 10px auto;
}

.search-bar input {
    padding: 12px;
    border: none;
    width: 30%;
    font-size: 16px;
    margin-right: 0;
    transition: box-shadow 0.3s;
    /* Smooth transition for box shadow */
}

/* Hover effect */
.search-bar input:hover {
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    /* Box shadow on hover */
}

/* Dull effect when focused */
.search-bar input:focus {
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1), 0 0 -8px rgba(0, 0, 0, 0.1);
    /* Highlight the focused input */
}

/* Dull other inputs when one is focused */
.search-bar input:focus~input {
    opacity: 0.1;
    /* Make other inputs dull */
}

/* Restore opacity when focus is lost */
.search-bar input:not(:focus) {
    opacity: 1;
    /* Reset opacity */
}


.search-bar input:first-child {
    border-left: none;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
}

/* Remove the right border for the last input */
.search-bar input:last-child {
    border-right: none;
    border-left: none;
    /* Left border remains */
}

/* Add right border for all except the last input */
.search-bar input:not(:nth-last-child(2)) {
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    /* Add right border */
}

.search-button {
    background-color: #ff385c;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(255, 56, 92, 0.4);
    cursor: pointer;
    margin-left: 10px;
    transition: box-shadow 0.3s, transform 0.3s;
    /* Smooth transition for box shadow and scale */
}

/* Hover effect for search button */
.search-button:hover {
    box-shadow: 0 12px 24px rgba(255, 56, 92, 0.4), 0 16px 32px rgba(255, 120, 125, 0.6);
    /* Larger shadow on hover */
    transform: translateY(-1px);
    /* Slight lift effect */
}